@media (max-width:1199px) {
    .aside {
        left: -270px;

    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-ite p span {
        display: inline-block;
        margin-left: 0;
    }

}