@media (max-width:1024px) {
    .section .continer {
        padding-top: 70px;
    }

    .aside .nav-toggler {
        display: -ms-flexbox;
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .aside {
        left: -270px;

    }

    .aside.open {
        left: 0px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    /* .main-content {
        padding-left: 0;
    } */



}

@media (max-width:768px) {
    .aside {
        width: 200px;

    }

    .aside .logo {

        padding: 25px 0;
    }

    .aside .logo a {
        font-size: 35px;
        padding: 0 18px;
        line-height: 25px;
    }

    .aside .logo a::before {
        height: 15px;
        width: 15px;
    }

    .aside .logo a::after {
        height: 15px;
        width: 15px;
    }

    .section.open {
        left: 200px;
    }

    .aside .nav-toggler.open {
        left: 230px;
    }

    .aside .nav {
        margin: 60px 0;
    }

    .aside .nav li a {
        font-size: 14px;
        line-height: 40px;
    }

    .aside .copyright-text {

        font-size: 8.88px;
        color: #7d7d7d;
    }




    .about .about-content .education,
    .about .about-content .experience {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-item,
    .service .service-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }


}

@media (max-width:645px) {
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:540px) {

    .portfolio .portfolio-item,
    .service .service-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }


    .about .about-content .personal-info .buttons .btn,
    .about .about-content .personal-info .info-item p span {
        font-size: 12px;
    }

    .contact .contact-info-item p,
    .service .service-item .service-item-inner p,
    .about .about-content .timeline .timeline-text {
        font-size: 14px;
    }


}

@media (max-width:425px) {


    .section-title {
        margin-bottom: 40px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .about .about-content .about-text h3 {
        font-size: 20px;
    }

    .portfolio .portfolio-filter {
        margin-bottom: 30px;
    }

    .portfolio .portfolio-filter button {
        font-size: 15px;

        margin: 0 5px;
    }



    .contact .contact-info-item .icon .fa {
        font-size: 30px;
    }

    .contact .contact-info-item h4 {
        font-size: 16px;
        margin: 5px 0 5px;
    }

    .contact .contact-info-item p {
        font-size: 12px;
        line-height: 15px;

    }

    .contact .contact-form .form-item {
        margin-bottom: 15px;
    }

    .contact .contact-form .form-item .form-control {

        height: 40px;
        padding: 8px 15px;
        font-size: 12px;
    }


    .contact .contact-form .form-item textarea.form-control {
        height: 80px;
    }

    .contact .contact-form .btn {
        height: 30px;
        padding: 0 25px;

    }

}

@media (max-width:320px) {
    .contact .contact-info-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}