.aside .logo a::before {
    border-top: 4px solid #00a78e;
    border-left: 4px solid #00a78e;
}

.aside .logo a::after {
    border-bottom: 4px solid #00a78e;
    border-right: 4px solid #00a78e;
}

.contact .contact-info-item p a:hover,
.contact .contact-info-item .icon .fa,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #00a78e;
}


.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
    background-color: #00a78e;
}


.portfolio .portfolio-filter button.active {
    border-color: #00a78e;
}